@model DrinkListViewModel

@{
    ViewBag.Title = "DrinkStore";
}

<div>
    <h2>All available drinks</h2>
</div>
<div>
    <h2>@Model.CurrentCategory</h2>
</div>

<div class="card-deck">
    @{
        foreach (Drink drink in Model.Drinks)
        {
            @Html.Partial("DrinkSummary", drink)
        }
    }
</div>