<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>@ViewBag.Title</title>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <form method="post" asp-action="index" asp-controller="home">
                            <button type="submit" class="nav-link btn btn-link py-0">
                                Home
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        @await Component.InvokeAsync("CategoryMenu")
                    </li>

                    <li class="nav-item">
                        <form method="post" asp-action="index" asp-controller="contact">
                            <button type="submit" class="nav-link btn btn-link py-0">
                                Contact Us
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout: @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container" style="padding:50px;">

        @RenderBody()
    </div>
</body>
</html>
