@model Drink

    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <img class="card-img-top" src="@Model.ImageThumbnailUrl" style="width:auto; height: 200px" asp-append-version="true" />
        <div class="figure-caption">
            <div>
                <h3 style="float:left">@Model.Name</h3>
                <h3 style="float:right">@Model.Price.ToString("c")</h3>
                <div style="clear:both"></div>
            </div>
            <p>@Model.ShortDescription</p">
        </div>
    </div>